body { 
  margin:0;
}

input[type="text"] {
  box-sizing: border-box;
  height:40px;
  border:1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

#root {
  display:flex;
  flex-direction: column;
  width:100%;
  height:100vh;
  justify-content: center;
  align-items:center;
}
.clock {
  display: flex;
  vertical-align: baseline;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.clock .colon {
  margin: 0px 8px;
}

.todo-list {
  min-height: 300px;
}

.new-todo {
  padding-left : 10px;
  width: 100%;
}

.todos {
  min-width: 300px;
  width: 100%;
  padding-left:0;
}

.todo {
  list-style:none;
  display:flex;
  align-items: center;
  height: 40px;
  border: 1px solid #898989;
  border-radius: 5px;
  padding: 0px 10px;
}
.checked {
  margin-right: 10px;
}

.todo-wrap {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

.todo-wrap label {
  margin-right:auto;
  width: 100%;
}

.delete {
  color : #dd9a9a;
  transition:color 0.2s ease-out;
  display:none;
}

li:hover .delete{
  display:block;
}
.content {
  display:flex;
  width:100%;
}
.todo-wrap.editing .edit {
  display:flex;
}
.todo-wrap.editing .content {
  display: none;
}
.todo-wrap.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

li .delete:hover {
  color:#dd5a5a;
  cursor:pointer;
}

.edit {
  display:none;
  margin-left: 30px;
}

.buttons {
  margin: auto;
  display:flex;
  width: 85%;
  justify-content: space-between;
}
.buttons button {
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  width: 30%;
}
button.select {
  background-color: #a3a3a3;
}

:focus {
  outline:0px;
}


/* clock */

.hide .colon{
  visibility:hidden;
}
